In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [16]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [17]:
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [18]:
basics = pd.read_csv(basics_url, sep='\t',low_memory=False)

In [19]:
akas = pd.read_csv(akas_url, sep='\t',low_memory=False)

In [20]:
ratings = pd.read_csv(ratings_url, sep='\t',low_memory=False)

Filter/Cleaning Title Basics:

In [21]:
basics.replace({'\\N':np.nan},inplace=True)

In [23]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [24]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9289415 entries, 0 to 9289414
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 637.9+ MB

In [29]:
basics['runtimeMinutes'].dropna(inplace=True)

In [30]:
basics['genres'].dropna(inplace=True)

In [35]:
basics.loc[:,'titleType']

0              short
1              short
2              short
3              short
4              short
             ...
9289410    tvEpisode
9289411    tvEpisode
9289412    tvEpisode
9289413        short
9289414    tvEpisode
Name: titleType, Length: 9289415, dtype: object

In [42]:
titlenames =basics[~(basics['titleType'] == 'short')].index
basics.drop(titlenames, inplace =True)

In [43]:
titlenames2 = basics[~(basics['titleType']=='tvEpisode')].index
basics.drop(titlenames2, inplace=True)

In [53]:
basics.drop(basics[(basics['startYear']<2000)].index, inplace=True)

In [55]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [58]:
keepers = basics['tconst'].isin(akas['titleId'])

In [59]:
basics = basics[keepers]
basics

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []