In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [50]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [51]:
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [52]:
basics = pd.read_csv(basics_url, sep='\t',low_memory=False)

In [53]:
akas = pd.read_csv(akas_url, sep='\t',low_memory=False)

In [54]:
ratings = pd.read_csv(ratings_url, sep='\t',low_memory=False)

Filter/Cleaning Title Basics:

In [55]:
basics.replace({'\\N':np.nan},inplace=True)

In [56]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [57]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9289415 entries, 0 to 9289414
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 637.9+ MB

In [58]:
basics['runtimeMinutes'].dropna(inplace=True)

In [59]:
basics['genres'].dropna(inplace=True)

In [60]:
basics['titleType']=='movie'

0          False
1          False
2          False
3          False
4          False
           ...
9289410    False
9289411    False
9289412    False
9289413    False
9289414    False
Name: titleType, Length: 9289415, dtype: bool

In [61]:
basics = basics.loc[basics['titleType']=='movie']
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
9289305,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9289332,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9289344,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,NaN,NaN,Comedy
9289355,tt9916730,movie,6 Gunn,6 Gunn,0,2017,NaN,116,NaN
9289365,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [70]:
basics['startYear']= basics['startYear'].dropna(inplace=True)

In [68]:
basics['startYear'] = basics['startYear'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [ ]:
basics.dtypes

In [ ]:
basics.drop(basics[(basics['startYear']<2000)].index, inplace=True)

In [ ]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [ ]:
keepers = basics['tconst'].isin(akas['titleId'])

In [ ]:
basics = basics[keepers]
basics