In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"

In [4]:
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [36]:
basics = pd.read_csv(basics_url, sep='\t',low_memory=False)

In [6]:
akas = pd.read_csv(akas_url, sep='\t',low_memory=False)

In [68]:
ratings = pd.read_csv(ratings_url, sep='\t',low_memory=False)

Filter/Cleaning Title Basics:

In [37]:
basics.replace({'\\N':np.nan},inplace=True)

In [38]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [39]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9292084 entries, 0 to 9292083
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 638.0+ MB

In [45]:
basics = basics.dropna(subset=['runtimeMinutes','genres'])

In [46]:
basics['titleType']=='movie'

8          True
570        True
587        True
672        True
1172       True
           ...
9291849    True
9291933    True
9291974    True
9292001    True
9292034    True
Name: titleType, Length: 369539, dtype: bool

In [47]:
basics = basics.loc[basics['titleType']=='movie']
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910,NaN,58,"Adventure,Drama"
...,...,...,...,...,...,...,...,...,...
9291849,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"
9291933,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama
9291974,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,NaN,57,Documentary
9292001,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,NaN,100,Documentary
9292034,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,NaN,49,Documentary

In [48]:
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [49]:
basics['startYear'].str.strip()

8          1894
570        1906
587        1907
672        1908
1172       1910
           ...
9291756    2019
9291765    2020
9291804    2020
9291849    2020
9291933    2019
Name: startYear, Length: 281337, dtype: object

In [50]:
basics= basics.dropna(subset=['startYear'])

In [51]:
basics['startYear'] = basics['startYear'].astype(float)

In [52]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [53]:
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"
1172,tt0001184,movie,Don Juan de Serrallonga,Don Juan de Serrallonga,0,1910.0,NaN,58,"Adventure,Drama"
...,...,...,...,...,...,...,...,...,...
9291756,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9291765,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9291804,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
9291849,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9291933,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama

In [54]:
basics=basics[(basics['startYear']>=2000)& (basics['startYear']<2022)]

In [55]:
basics['startYear'].value_counts()

2018.0    9590
2017.0    9413
2019.0    9316
2016.0    8998
2015.0    8554
2014.0    8148
2021.0    8029
2013.0    7772
2020.0    7489
2012.0    7275
2011.0    6744
2010.0    6349
2009.0    5962
2008.0    5194
2007.0    4606
2006.0    4371
2005.0    3891
2004.0    3511
2003.0    3215
2002.0    2974
2001.0    2848
2000.0    2717
Name: startYear, dtype: int64

In [56]:
keepers = basics['tconst'].isin(akas['titleId'])

In [57]:
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61094,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
67640,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77934,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
86770,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...
9291756,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
9291765,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
9291804,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,NaN,84,Thriller
9291849,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"
9291933,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,NaN,123,Drama

In [58]:
akas.replace({'\\N':np.nan},inplace=True)

In [59]:
akas.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61094,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
67640,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
77934,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
86770,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [60]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33465321 entries, 0 to 33465320
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [61]:
akas['region']=='US'

0           False
1           False
2           False
3           False
4           False
            ...
33465316    False
33465317    False
33465318    False
33465319    False
33465320    False
Name: region, Length: 33465321, dtype: bool

In [62]:
akas = akas.loc[akas['region']=='US']
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
33464993,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
33465030,tt9916720,10,The Demonic Nun,US,NaN,tv,NaN,0
33465032,tt9916720,12,The Nun 2,US,NaN,imdbDisplay,NaN,0
33465049,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
33465065,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

In [69]:
ratings.replace({'\\N':np.nan},inplace=True)

In [70]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1917
1  tt0000002            5.8       260
2  tt0000003            6.5      1725
3  tt0000004            5.6       173
4  tt0000005            6.2      2541

In [71]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238083 entries, 0 to 1238082
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1238083 non-null  object
 1   averageRating  1238083 non-null  float64
 2   numVotes       1238083 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.3+ MB

In [73]:
keeper = ratings['tconst'].isin(akas['titleId'])
keeper

0           True
1           True
2          False
3          False
4           True
           ...
1238078    False
1238079     True
1238080    False
1238081    False
1238082    False
Name: tconst, Length: 1238083, dtype: bool

In [74]:
ratings = ratings[keeper]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1917
1        tt0000002            5.8       260
4        tt0000005            6.2      2541
5        tt0000006            5.1       175
6        tt0000007            5.4       796
...            ...            ...       ...
1238057  tt9916204            8.2       245
1238063  tt9916348            8.5        17
1238064  tt9916362            6.4      4914
1238068  tt9916428            3.8        14
1238079  tt9916720            5.3       265

[471781 rows x 3 columns]