In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
connection_str ="mysql+pymysql://root:root@localhost/movies"

In [2]:
engine = create_engine(connection_str)

In [3]:
create_database(connection_str)

In [4]:
database_exists(connection_str)

True

In [5]:
if database_exists(connection_str)==False:
    create_database(connection_str)
else:
    print('The database already exists')

The database already exists

In [6]:
df_2000=pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')

In [7]:
df1 = df_2000

df2 = df_2001

frames = [df1, df2]

merged = pd.concat(frames)

In [8]:
merged.head(3)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certificiation
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/ab5yL8zgRotrICzGbEl10z24N71.jpg,NaN,48000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,11232.0,en,Kate & Leopold,...,76019048.0,118.0,"[{'english_name': 'Italian', 'iso_639_1': 'it'...",Released,If they lived in the same century they'd be pe...,Kate & Leopold,0.0,6.321,1145.0,PG-13
2,tt0062336,0.0,/fw5tsNib4QZBEw18xmebpVe3WZ8.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",http://poetastros.com/el-tango-del-viudo/,602986.0,es,El tango del viudo y su espejo deformante,...,0.0,63.0,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,NaN,The Tango of the Widower and Its Distorting Mi...,0.0,5.500,4.0,NaN

In [9]:
merged = merged[['imdb_id','revenue','budget','certificiation']]
merged.head()

     imdb_id     revenue      budget certificiation
0          0         NaN         NaN            NaN
1  tt0035423  76019048.0  48000000.0          PG-13
2  tt0062336         0.0         0.0            NaN
3  tt0069049         0.0  12000000.0              R
4  tt0079644         0.0         0.0            NaN

In [10]:
merged.to_csv('Data/merged_data.csv.gz',compression='gzip',index=False)

In [12]:
merged.to_sql('tmdb_data', engine, if_exists='replace')

4741

In [22]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0079644,movie,November 1828,November 1828,0,2001.0,NaN,140,"Drama,War"
4,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"

In [30]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136337 entries, 0 to 136336
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          136337 non-null  object
 1   titleType       136337 non-null  object
 2   primaryTitle    136337 non-null  object
 3   originalTitle   136337 non-null  object
 4   isAdult         136337 non-null  int64
 5   startYear       136337 non-null  float64
 6   endYear         0 non-null       float64
 7   runtimeMinutes  136337 non-null  int64
 8   genres          136337 non-null  object
 9   genres_split    136337 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 10.4+ MB

In [32]:
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear              0
endYear           136337
runtimeMinutes         0
genres                 0
genres_split           0
dtype: int64

In [25]:
genres_split=basics['genres'].str.split(',')
genres_split

0            [Comedy, Fantasy, Romance]
1                               [Drama]
2                               [Drama]
3                          [Drama, War]
4              [Comedy, Horror, Sci-Fi]
                      ...
136332                          [Drama]
136333    [Action, Adventure, Thriller]
136334                       [Thriller]
136335                 [Drama, History]
136336                          [Drama]
Name: genres, Length: 136337, dtype: object

In [27]:
exploded_genres = genres_split.explode().unique()
exploded_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'War', 'Horror', 'Sci-Fi',
       'Mystery', 'Adventure', 'Musical', 'Action', 'Crime', 'Thriller',
       'Music', 'Animation', 'Family', 'History', 'Biography', 'Sport',
       'Western', 'Adult', 'Short', 'Reality-TV', 'News', 'Talk-Show',
       'Game-Show'], dtype=object)

In [28]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices